*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f5f7fb;
}

.hero{
    background:linear-gradient(to right,#00093c,#2d0b00);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}

.features{
    width:85%;
    margin:60px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
    border-top:5px solid red;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#1E3A8A;
    margin-bottom:15px;
    font-size:24px;
}

.card p{
    color:#555;
    line-height:1.7;
}

@media(max-width:768px){

.hero h1{
    font-size:36px;
}

.hero p{
    font-size:16px;
}

.features{
    width:92%;
}
}